:root {
  --gray-100: rgba(241, 243, 245, 1);
  --gray-500: rgba(173, 181, 189, 1);
  --gray-600: rgba(134, 142, 150, 1);
  --gray-700: rgba(73, 80, 87, 1);
  --gray-800: rgba(52, 58, 64, 1);
  --gray-900: rgba(33, 37, 41, 1);
  --primary-500: rgba(217, 140, 51, 1);
  --red-100: rgba(255, 245, 245, 1);
  --text-3xl-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --text-3xl-semi-bold-font-size: 24px;
  --text-3xl-semi-bold-font-style: normal;
  --text-3xl-semi-bold-font-weight: 600;
  --text-3xl-semi-bold-letter-spacing: 0px;
  --text-3xl-semi-bold-line-height: 32px;
  --text-l-medium-font-family: "Inter-Medium", Helvetica;
  --text-l-medium-font-size: 16px;
  --text-l-medium-font-style: normal;
  --text-l-medium-font-weight: 500;
  --text-l-medium-letter-spacing: 0px;
  --text-l-medium-line-height: 24px;
  --text-l-regular-font-family: "Inter-Regular", Helvetica;
  --text-l-regular-font-size: 16px;
  --text-l-regular-font-style: normal;
  --text-l-regular-font-weight: 400;
  --text-l-regular-letter-spacing: 0px;
  --text-l-regular-line-height: 24px;
  --text-medium-font-family: "Inter-Medium", Helvetica;
  --text-medium-font-size: 14px;
  --text-medium-font-style: normal;
  --text-medium-font-weight: 500;
  --text-medium-letter-spacing: 0px;
  --text-medium-line-height: 20px;
  --text-regular-font-family: "Inter-Regular", Helvetica;
  --text-regular-font-size: 14px;
  --text-regular-font-style: normal;
  --text-regular-font-weight: 400;
  --text-regular-letter-spacing: 0px;
  --text-regular-line-height: 20px;
  --text-s-regular-font-family: "Inter-Regular", Helvetica;
  --text-s-regular-font-size: 13px;
  --text-s-regular-font-style: normal;
  --text-s-regular-font-weight: 400;
  --text-s-regular-letter-spacing: 0px;
  --text-s-regular-line-height: 18px;
  --text-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --text-semi-bold-font-size: 14px;
  --text-semi-bold-font-style: normal;
  --text-semi-bold-font-weight: 600;
  --text-semi-bold-letter-spacing: 0px;
  --text-semi-bold-line-height: 20px;
  --text-XS-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --text-XS-semi-bold-font-size: 11px;
  --text-XS-semi-bold-font-style: normal;
  --text-XS-semi-bold-font-weight: 600;
  --text-XS-semi-bold-letter-spacing: 0px;
  --text-XS-semi-bold-line-height: 14px;
  --white: rgba(255, 255, 255, 1);
}
